@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Lora%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-vh99VJn6v: #53389e;
  --plasmic-token-primary-800: var(--token-vh99VJn6v);
}

.plasmic_default_styles {
  --mixin-xp_vT_P7rLI-_font-family: "Inter", sans-serif;
  --mixin-xp_vT_P7rLI-_font-size: 16px;
  --mixin-xp_vT_P7rLI-_font-weight: 400;
  --mixin-xp_vT_P7rLI-_font-style: normal;
  --mixin-xp_vT_P7rLI-_color: #535353;
  --mixin-xp_vT_P7rLI-_text-align: left;
  --mixin-xp_vT_P7rLI-_text-transform: none;
  --mixin-xp_vT_P7rLI-_line-height: 1.5;
  --mixin-xp_vT_P7rLI-_letter-spacing: normal;
  --mixin-xp_vT_P7rLI-_white-space: pre-wrap;
  --mixin-xp_vT_P7rLI-_user-select: text;
  --mixin-xp_vT_P7rLI-_text-decoration-line: none;
  --mixin-xp_vT_P7rLI-_text-overflow: clip;
  --mixin-nQXltVIKK7SO_color: #000000;
  --mixin-nQXltVIKK7SO_font-weight: 900;
  --mixin-nQXltVIKK7SO_font-size: 72px;
  --mixin-nQXltVIKK7SO_line-height: 1;
  --mixin-nQXltVIKK7SO_letter-spacing: -4px;
  --mixin-nQXltVIKK7SO_white-space: pre-wrap;
  --mixin-0O4fdYpFss-e_color: #000000;
  --mixin-0O4fdYpFss-e_font-size: 48px;
  --mixin-0O4fdYpFss-e_font-weight: 700;
  --mixin-0O4fdYpFss-e_letter-spacing: -1px;
  --mixin-0O4fdYpFss-e_line-height: 1.1;
  --mixin-0O4fdYpFss-e_white-space: pre-wrap;
  --mixin-yCbNPBbBPa-v_color: #0070f3;
  --mixin-yCbNPBbBPa-v_white-space: pre-wrap;
  --mixin-2mI6OBRojTA1_color: #000000;
  --mixin-2mI6OBRojTA1_font-size: 32px;
  --mixin-2mI6OBRojTA1_font-weight: 600;
  --mixin-2mI6OBRojTA1_letter-spacing: -0.8px;
  --mixin-2mI6OBRojTA1_line-height: 1.2;
  --mixin-2mI6OBRojTA1_white-space: pre-wrap;
  --mixin-IOR6GRApVdYu_color: #000000;
  --mixin-IOR6GRApVdYu_font-size: 24px;
  --mixin-IOR6GRApVdYu_font-weight: 600;
  --mixin-IOR6GRApVdYu_letter-spacing: -0.5px;
  --mixin-IOR6GRApVdYu_line-height: 1.3;
  --mixin-IOR6GRApVdYu_white-space: pre-wrap;
  --mixin-tDtkDZL60nuV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tDtkDZL60nuV_border-bottom-color: #dddddd;
  --mixin-tDtkDZL60nuV_border-bottom-style: solid;
  --mixin-tDtkDZL60nuV_border-bottom-width: 1px;
  --mixin-tDtkDZL60nuV_border-left-color: #dddddd;
  --mixin-tDtkDZL60nuV_border-left-style: solid;
  --mixin-tDtkDZL60nuV_border-left-width: 1px;
  --mixin-tDtkDZL60nuV_border-right-color: #dddddd;
  --mixin-tDtkDZL60nuV_border-right-style: solid;
  --mixin-tDtkDZL60nuV_border-right-width: 1px;
  --mixin-tDtkDZL60nuV_border-top-color: #dddddd;
  --mixin-tDtkDZL60nuV_border-top-style: solid;
  --mixin-tDtkDZL60nuV_border-top-width: 1px;
  --mixin-tDtkDZL60nuV_border-bottom-left-radius: 3px;
  --mixin-tDtkDZL60nuV_border-bottom-right-radius: 3px;
  --mixin-tDtkDZL60nuV_border-top-left-radius: 3px;
  --mixin-tDtkDZL60nuV_border-top-right-radius: 3px;
  --mixin-tDtkDZL60nuV_font-family: "Inconsolata";
  --mixin-tDtkDZL60nuV_padding-bottom: 1px;
  --mixin-tDtkDZL60nuV_padding-left: 4px;
  --mixin-tDtkDZL60nuV_padding-right: 4px;
  --mixin-tDtkDZL60nuV_padding-top: 1px;
  --mixin-tDtkDZL60nuV_white-space: pre-wrap;
  --mixin-863WHpeIswcP_border-left-color: #dddddd;
  --mixin-863WHpeIswcP_border-left-style: solid;
  --mixin-863WHpeIswcP_border-left-width: 3px;
  --mixin-863WHpeIswcP_color: #888888;
  --mixin-863WHpeIswcP_padding-left: 10px;
  --mixin-863WHpeIswcP_white-space: pre-wrap;
  --mixin-gFsqJYQ5SaqD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-gFsqJYQ5SaqD_border-bottom-color: #dddddd;
  --mixin-gFsqJYQ5SaqD_border-bottom-style: solid;
  --mixin-gFsqJYQ5SaqD_border-bottom-width: 1px;
  --mixin-gFsqJYQ5SaqD_border-left-color: #dddddd;
  --mixin-gFsqJYQ5SaqD_border-left-style: solid;
  --mixin-gFsqJYQ5SaqD_border-left-width: 1px;
  --mixin-gFsqJYQ5SaqD_border-right-color: #dddddd;
  --mixin-gFsqJYQ5SaqD_border-right-style: solid;
  --mixin-gFsqJYQ5SaqD_border-right-width: 1px;
  --mixin-gFsqJYQ5SaqD_border-top-color: #dddddd;
  --mixin-gFsqJYQ5SaqD_border-top-style: solid;
  --mixin-gFsqJYQ5SaqD_border-top-width: 1px;
  --mixin-gFsqJYQ5SaqD_border-bottom-left-radius: 3px;
  --mixin-gFsqJYQ5SaqD_border-bottom-right-radius: 3px;
  --mixin-gFsqJYQ5SaqD_border-top-left-radius: 3px;
  --mixin-gFsqJYQ5SaqD_border-top-right-radius: 3px;
  --mixin-gFsqJYQ5SaqD_font-family: "Inconsolata";
  --mixin-gFsqJYQ5SaqD_padding-bottom: 3px;
  --mixin-gFsqJYQ5SaqD_padding-left: 6px;
  --mixin-gFsqJYQ5SaqD_padding-right: 6px;
  --mixin-gFsqJYQ5SaqD_padding-top: 3px;
  --mixin-gFsqJYQ5SaqD_white-space: pre-wrap;
  --mixin-OrwFE9X-0MnUl_display: flex;
  --mixin-OrwFE9X-0MnUl_flex-direction: column;
  --mixin-OrwFE9X-0MnUl_align-items: stretch;
  --mixin-OrwFE9X-0MnUl_justify-content: flex-start;
  --mixin-OrwFE9X-0MnUl_list-style-position: outside;
  --mixin-OrwFE9X-0MnUl_padding-left: 40px;
  --mixin-OrwFE9X-0MnUl_position: relative;
  --mixin-OrwFE9X-0MnUl_list-style-type: disc;
  --mixin-OrwFE9X-0MnUl_white-space: pre-wrap;
  --mixin-oV5N_y7IvwK3A_display: flex;
  --mixin-oV5N_y7IvwK3A_flex-direction: column;
  --mixin-oV5N_y7IvwK3A_align-items: stretch;
  --mixin-oV5N_y7IvwK3A_justify-content: flex-start;
  --mixin-oV5N_y7IvwK3A_list-style-position: outside;
  --mixin-oV5N_y7IvwK3A_padding-left: 40px;
  --mixin-oV5N_y7IvwK3A_position: relative;
  --mixin-oV5N_y7IvwK3A_list-style-type: decimal;
  --mixin-oV5N_y7IvwK3A_white-space: pre-wrap;
  --mixin-rC0BycUb4FOxF_color: #000000;
  --mixin-rC0BycUb4FOxF_font-size: 20px;
  --mixin-rC0BycUb4FOxF_font-weight: 600;
  --mixin-rC0BycUb4FOxF_letter-spacing: -0.3px;
  --mixin-rC0BycUb4FOxF_line-height: 1.5;
  --mixin-rC0BycUb4FOxF_white-space: pre-wrap;
  --mixin-_yx1uOvbToKDn_color: #000000;
  --mixin-_yx1uOvbToKDn_font-size: 16px;
  --mixin-_yx1uOvbToKDn_font-weight: 600;
  --mixin-_yx1uOvbToKDn_line-height: 1.5;
  --mixin-_yx1uOvbToKDn_white-space: pre-wrap;
  --mixin-Q-fjIEbfbJF5b_color: #3291ff;
  --mixin-Q-fjIEbfbJF5b_white-space: pre-wrap;
  --mixin-nyzegq7ENRBmb_white-space: pre-wrap;
  --mixin-Ly-i3pXhAuqgw_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xp_vT_P7rLI-_font-family);
  font-size: var(--mixin-xp_vT_P7rLI-_font-size);
  font-weight: var(--mixin-xp_vT_P7rLI-_font-weight);
  font-style: var(--mixin-xp_vT_P7rLI-_font-style);
  color: var(--mixin-xp_vT_P7rLI-_color);
  text-align: var(--mixin-xp_vT_P7rLI-_text-align);
  text-transform: var(--mixin-xp_vT_P7rLI-_text-transform);
  line-height: var(--mixin-xp_vT_P7rLI-_line-height);
  letter-spacing: var(--mixin-xp_vT_P7rLI-_letter-spacing);
  white-space: var(--mixin-xp_vT_P7rLI-_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-nQXltVIKK7SO_color);
  font-weight: var(--mixin-nQXltVIKK7SO_font-weight);
  font-size: var(--mixin-nQXltVIKK7SO_font-size);
  line-height: var(--mixin-nQXltVIKK7SO_line-height);
  letter-spacing: var(--mixin-nQXltVIKK7SO_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-0O4fdYpFss-e_color);
  font-size: var(--mixin-0O4fdYpFss-e_font-size);
  font-weight: var(--mixin-0O4fdYpFss-e_font-weight);
  letter-spacing: var(--mixin-0O4fdYpFss-e_letter-spacing);
  line-height: var(--mixin-0O4fdYpFss-e_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-yCbNPBbBPa-v_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-2mI6OBRojTA1_color);
  font-size: var(--mixin-2mI6OBRojTA1_font-size);
  font-weight: var(--mixin-2mI6OBRojTA1_font-weight);
  letter-spacing: var(--mixin-2mI6OBRojTA1_letter-spacing);
  line-height: var(--mixin-2mI6OBRojTA1_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-IOR6GRApVdYu_color);
  font-size: var(--mixin-IOR6GRApVdYu_font-size);
  font-weight: var(--mixin-IOR6GRApVdYu_font-weight);
  letter-spacing: var(--mixin-IOR6GRApVdYu_letter-spacing);
  line-height: var(--mixin-IOR6GRApVdYu_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tDtkDZL60nuV_font-family);
  border-radius: var(--mixin-tDtkDZL60nuV_border-top-left-radius)
    var(--mixin-tDtkDZL60nuV_border-top-right-radius)
    var(--mixin-tDtkDZL60nuV_border-bottom-right-radius)
    var(--mixin-tDtkDZL60nuV_border-bottom-left-radius);
  padding: var(--mixin-tDtkDZL60nuV_padding-top)
    var(--mixin-tDtkDZL60nuV_padding-right)
    var(--mixin-tDtkDZL60nuV_padding-bottom)
    var(--mixin-tDtkDZL60nuV_padding-left);
  border-top: var(--mixin-tDtkDZL60nuV_border-top-width)
    var(--mixin-tDtkDZL60nuV_border-top-style)
    var(--mixin-tDtkDZL60nuV_border-top-color);
  border-right: var(--mixin-tDtkDZL60nuV_border-right-width)
    var(--mixin-tDtkDZL60nuV_border-right-style)
    var(--mixin-tDtkDZL60nuV_border-right-color);
  border-bottom: var(--mixin-tDtkDZL60nuV_border-bottom-width)
    var(--mixin-tDtkDZL60nuV_border-bottom-style)
    var(--mixin-tDtkDZL60nuV_border-bottom-color);
  border-left: var(--mixin-tDtkDZL60nuV_border-left-width)
    var(--mixin-tDtkDZL60nuV_border-left-style)
    var(--mixin-tDtkDZL60nuV_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-863WHpeIswcP_color);
  padding-left: var(--mixin-863WHpeIswcP_padding-left);
  border-left: var(--mixin-863WHpeIswcP_border-left-width)
    var(--mixin-863WHpeIswcP_border-left-style)
    var(--mixin-863WHpeIswcP_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-gFsqJYQ5SaqD_font-family);
  border-radius: var(--mixin-gFsqJYQ5SaqD_border-top-left-radius)
    var(--mixin-gFsqJYQ5SaqD_border-top-right-radius)
    var(--mixin-gFsqJYQ5SaqD_border-bottom-right-radius)
    var(--mixin-gFsqJYQ5SaqD_border-bottom-left-radius);
  padding: var(--mixin-gFsqJYQ5SaqD_padding-top)
    var(--mixin-gFsqJYQ5SaqD_padding-right)
    var(--mixin-gFsqJYQ5SaqD_padding-bottom)
    var(--mixin-gFsqJYQ5SaqD_padding-left);
  border-top: var(--mixin-gFsqJYQ5SaqD_border-top-width)
    var(--mixin-gFsqJYQ5SaqD_border-top-style)
    var(--mixin-gFsqJYQ5SaqD_border-top-color);
  border-right: var(--mixin-gFsqJYQ5SaqD_border-right-width)
    var(--mixin-gFsqJYQ5SaqD_border-right-style)
    var(--mixin-gFsqJYQ5SaqD_border-right-color);
  border-bottom: var(--mixin-gFsqJYQ5SaqD_border-bottom-width)
    var(--mixin-gFsqJYQ5SaqD_border-bottom-style)
    var(--mixin-gFsqJYQ5SaqD_border-bottom-color);
  border-left: var(--mixin-gFsqJYQ5SaqD_border-left-width)
    var(--mixin-gFsqJYQ5SaqD_border-left-style)
    var(--mixin-gFsqJYQ5SaqD_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-OrwFE9X-0MnUl_display);
  flex-direction: var(--mixin-OrwFE9X-0MnUl_flex-direction);
  align-items: var(--mixin-OrwFE9X-0MnUl_align-items);
  justify-content: var(--mixin-OrwFE9X-0MnUl_justify-content);
  list-style-position: var(--mixin-OrwFE9X-0MnUl_list-style-position);
  padding-left: var(--mixin-OrwFE9X-0MnUl_padding-left);
  position: var(--mixin-OrwFE9X-0MnUl_position);
  list-style-type: var(--mixin-OrwFE9X-0MnUl_list-style-type);
  flex-column-gap: var(--mixin-OrwFE9X-0MnUl_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-oV5N_y7IvwK3A_display);
  flex-direction: var(--mixin-oV5N_y7IvwK3A_flex-direction);
  align-items: var(--mixin-oV5N_y7IvwK3A_align-items);
  justify-content: var(--mixin-oV5N_y7IvwK3A_justify-content);
  list-style-position: var(--mixin-oV5N_y7IvwK3A_list-style-position);
  padding-left: var(--mixin-oV5N_y7IvwK3A_padding-left);
  position: var(--mixin-oV5N_y7IvwK3A_position);
  list-style-type: var(--mixin-oV5N_y7IvwK3A_list-style-type);
  flex-column-gap: var(--mixin-oV5N_y7IvwK3A_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-rC0BycUb4FOxF_color);
  font-size: var(--mixin-rC0BycUb4FOxF_font-size);
  font-weight: var(--mixin-rC0BycUb4FOxF_font-weight);
  letter-spacing: var(--mixin-rC0BycUb4FOxF_letter-spacing);
  line-height: var(--mixin-rC0BycUb4FOxF_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-_yx1uOvbToKDn_color);
  font-size: var(--mixin-_yx1uOvbToKDn_font-size);
  font-weight: var(--mixin-_yx1uOvbToKDn_font-weight);
  line-height: var(--mixin-_yx1uOvbToKDn_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Q-fjIEbfbJF5b_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
